torch==2.8.0+cu128
torchaudio
torchvision
scipy
datasets
torchcodec~=0.7.0
transformers~=4.51
librosa~=0.10.2
accelerate~=1.10.1
x_transformers
jieba_fast
jieba
split-lang
fast_langdetect>=0.3.1
pyopenjtalk>=0.4.1
wordsegment
g2p_en
tensorboardX